:root {
  --paper-50: #fbf8ef;
  --paper-100: #f1ead9;
  --paper-200: #dfd1b4;
  --charcoal-800: #27251f;
  --charcoal-900: #171612;
  --moss-600: #59683f;
  --moss-700: #3f4b2d;
  --olive-300: #b9bd8a;
  --olive-600: #6f7448;
  --rust-500: #a75534;
  --clay-300: #d0a381;
  --ochre-300: #d6bc74;
  --slate-500: #66717f;
  --slate-700: #374252;
}
